:root{

  --colour-primary: #2e77cb ;
  --colour-secondary: #4cbfa6;
  --colour-tertiary: #5d5c61;
  --nav-sizing: 12vh;
}

body{
  margin:0;
  padding:0;
  font-family: Verdana, sans-serif;
  overflow-x: hidden;
  background-color: #000000;
}