



.navbar{
    position: fixed;
    top: 0;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

.navbar>li{
    list-style-type: none;
    display:flex;
    
    flex-direction: column;

    width: var(--nav-sizing);
    height: var(--nav-sizing);
    overflow: hidden;
}

.nav_content>span{
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}

.nav_content>span:nth-child(1){
    min-height:var(--nav-sizing);
}
.navbar>li:hover .nav_content{
    transform: translateY(-50%);
    transition: 0.5s ease-in-out;
}


.nav_content>span:nth-child(2){
    border-radius: 5%;
    background: linear-gradient(to bottom left, rgba(0, 161, 255, 0.7), rgba(0, 255, 143, 0.7));
    
    height: var(--nav-sizing);
    
    
}


.nav_icon{
    color: var(--colour-primary);
    font-size: 2rem;
    font-weight: bold;
}

.nav_text{
    text-decoration: none;
    color:white;  
    font-weight: bold;
    text-shadow: white 0px 0px 7px;
    font-size: calc(var(--nav-sizing) / 7); 
    
}
