.main{
    height:300vh;
}

.navbar{
    width:100vw;
    left:0;
    overflow: hidden;
    background-color: var(--colour-tertiary);
    
}

div.sticky{
    position: fixed !important;
    top: 0;
    width: 100%;
}

.parallaxImgContainer{
    position: relative;
    width: 100vw;
    height: 80vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
   
.parallaxImg{
    object-fit: cover;
    width: inherit; 
    position: relative;
    
    
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: -1;
}

.name{
    position: relative;
    font-size: 10vw;
}
.content{
    height: 300vh;
}