

/* adapted from https://www.w3schools.com/howto/howto_css_timeline.asp because i need help */

* {
  box-sizing: border-box;
}


body{
  background-image: linear-gradient(
    30deg,
    #e22400 0%,
    #feb43f 100%
    
  );
  min-width:600px;
  

}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;

  left: -40px;

}

/* Container around content */
.circle {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.circle::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;

  background-color: white;
  border: 4px solid blue;
  top: 15px;
  margin-left: -90px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */


/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  margin-left: -30px;
}
.content :not(:empty){
  color:black;
}


/* Full-width containers */
.circle {
    width: 100%;


}

.subheading{
  color: white;
  padding: 30px;
  

}

.subheading-desc{
  font-size:18px;
  margin-left:10px;
  margin-bottom: 20px;
}

.quot-svg{
  filter: invert(97%) sepia(30%) saturate(251%) hue-rotate(283deg) brightness(111%) contrast(87%);
  width:40px;
  height:30px;
}



.education-section{
  width:70vw;
  overflow:visible;
  margin-left:-30px;
}

.job-section{
  background-image: linear-gradient(
    140deg,
    #7a219e 0%,
    #52d6fc 100%
    
  );
  width:150vw;
  overflow:visible;
  margin-left:-50%;
  position: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.job-card{
  padding: 2px;
  height: 350px;
  width: 600px;

  color: black;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #ffffff;
  background-color: transparent;
}

.job-card::after{
  content: '';
  background-size: cover;
  margin-left: -2px;
  margin-top: -2px;
  height: 500px;
  width: 500px;
  position: absolute;
  
}

.abilities-section{
  margin-left:-30px;
  margin-top: 20px;
  width:120vw;
  height:600px;
  overflow:visible;
  background-image: linear-gradient(
    -50deg,
    #f2ea18 0%,
    #24eb4b 100%
  );
  width:150vw;
  overflow:visible;
  margin-left:-200px;
  display:grid;
  /*a = title b = irl langs c= programming langs*/
  grid-template-areas: 
            "a c c "
            "b c c"
            "b c c";
  gap: 10px;
  padding: 10px;
  
 
  
}

#abilities-title{
  position: fixed;
  margin-left: -100px;
}

