


p1, p2, p3, p4, p5, p6, h1, h2, h3, h4, h5, h6{
  color:white;
  font-family: 'DM Sans', sans-serif;
}


body{
  background-color: rgb(20,20,20);
}




.text-gradient{

  background-image: linear-gradient(
    -225deg,
    #0061fe 0%,
    #864ffe 29%,
    #ee719e 67%,
    #ff8c82 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  position: relative;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.text-glow{
  text-shadow: 0 0 80px rgb(192 219 255 / 35%), 
  0 0 32px rgb(65 120 255 / 24%);
  
}



}

.container{
  position: relative;
  z-index: 0;
  padding: 10px
}

.landing{
  position: absolute;
  left: 20px;
  padding:30px;
  z-index: 1;
  
}

.galaxy-card, .green-card, .tableOcontents-card{
  
  
  padding: 2px;
  height: 350px;
  width: 300px;

  color: white;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #ffffff;
  background-color: transparent;
}

.tableOcontents-card{
  height: 550px;
  background-image: linear-gradient(
    60deg,
    #fdc700 0%,
    #5e30eb 40%,
    #0042a9 60%,
    #11053b 100%
  );
}

.galaxy-card::before{
  content: '';
  background-image: url('./assets/galaxy-card.jpeg');
  background-size: cover;
  margin-left: -2px;
  margin-top: -2px;
  height: 500px;
  width: 500px;
  position: absolute;
  filter: blur(30px);
  z-index: -1;
  animation: picclip 30s ease-in-out infinite;
}



.green-card::before{
  content: '';
  background-image: url('./assets/green-shit.jpeg');
  background-size: cover;
  margin-left: -2px;
  margin-top: -2px;
  height: 500px;
  width: 500px;
  position: absolute;
  filter: blur(30px);
  z-index: -1;
  animation: picclip 20s linear infinite;
}



.galaxy-card::hover, .green-card::hover{
  scale:1.03;
}


@keyframes picclip {
  to {
    background-position: 200% center;
  }
}

.details{
  padding:7px;
  font-size:18px;
}


.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 6px 16px;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn:hover{
  scale:1.03;
}

.btn-gradient-border {
  color: white;
  border: 2px double transparent;
  background-image: linear-gradient(
    #000000,
    #303030), radial-gradient(
    #0061fe,
    #864ffe);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

#portrait{
  height: 100px;
  width: 80px;
  background-color: #000000;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  display: inline-block;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#portrait::before{
  content: '';
  background-image: url('./assets/hehe.png');
  background-size: cover;
  /* if shifting required, use margin-x */
  height: 100px;
  width: 100px;
  position: absolute;
}

.contents-list{
  font-size:18px;
  color: #ffffff;
  margin-top:2px;
}