

#home{
  font: sans-serif;
  color: white;
}
.social-icon{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.social-icon:hover{
  opacity: 0.75;
}

.link{
  color:white
}