<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/index.css" type="text/css">
  <link rel="stylesheet" href="static/err404.css" type="text/css">
  
  <title>Error 404!</title>
  
</head>
<body data-barba="wrapper">

    
    
    <div class="loader"></div>
    
    <div data-barba="container">
      
      {% include 'navbar.html' %}
      <img src="static/assets/empty-room.webp" class="background"></img>
      <h1 id="text404">404 - Page Not Found</h1>
      <h3 id="explanation" style="margin: 20px;">You are lost in a strange room. You should probably <span id="shake">leave now…</span> </h3>
      <a href='/' style="color:yellow; margin-left:20px"><u>Go home safely.</u></a>
      <br>

      <div style="margin-top:100px">
    {% include 'footer.html' %}
    </div>

    </div>
    
    

    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script src="static/scripts/index.js" defer></script>
</body>