<!DOCTYPE html>

<head>
  
  <link rel="stylesheet" href="static/exp_edu.css" type="text/css">
  <link rel="stylesheet" href="static/index.css" type="text/css">
  
  <title>SebassNoob's profile</title>
  
</head>
<body data-barba="wrapper">

    

    <div class="loader"></div>
    
    <div data-barba="container">
      {% include 'navbar.html' %}
      <div class="container">
        <!-- will style later-->
        <section>
        <div class='education-section'>
        <h1 class="text-glow subheading">Education</h1>
          
        <img src="static/assets/quot-open.svg" class="quot-svg">
        <p1 class="subheading-desc">The roots of education are bitter, but the ending is sweet.</p1>
        <img src="static/assets/quot-close.svg" class="quot-svg">
        <br>
        <p1>&nbsp&nbsp&nbsp&nbsp-- Aristotle</p1>
        <br>
        <div class="timeline">
          <div class="circle right">
            <div class="content">
              <h2 class="timeline-entry-title"><strong>2019-2022 Nan Hua High School</strong></h2>
              <p1>Nan Hua has and continues to play a key part in shaping me as a person. As a traditionally Chinese school, and through its flagship Special Assistance Plan (SAP) course, this school has deepened my knowlege on Chinese culture and values.</p1>
        <br>
        <p1>Subjects taken at GCSE Ordinary Level</p1>
              
        <ul>
          <li>English 1128</li>
          <li>Higher Chinese 1116</li>
          <li>Chinese 1160</li>
          <li>Malay (Special Programme) 1133</li>
          <li>Combined Humanities (Social Studies, Geography) 2272</li>
          <li>Mathematics 4048</li>
          <li>Additional Mathematics 4049</li>
          <li>Physics 6091</li>
          <li>Chemistry 6092 🤮</li>
                  
        </ul>
        <br>
        <h4>Co-curricular activity: Chinese Calligraphy and Painting Club</h4>
        <br>
        <p1>Through participating in the activities offered at this club, I learnt the importance of my cultural heritage through this artform. Other than this, close friendships were forged through our common interest in mastering the delicate wordform of Chinese Characters.</p1>
        <br>  
            
            
            
            </div>
          <div class="circle right" style="margin-left:-40px">
            <!-- every div shift left by 40px-->
            <div class="content">
              <h2 class="timeline-entry-title"><strong>2023-</strong></h2>
              <p>The future is the time after the past and present. Its arrival is considered inevitable due to the existence of time and the laws of physics. --Wikipedia</p>
            </div>
          </div>
          
          </div>
      </div>

        </div>

        </section>
        <section>
      <div class="job-section grid-container" style="margin-top: 30px;">
        
        <div style="grid-area:right"><h1>Job Experiences</h1></div>
        <br>
        <div style="grid-area:main" cless="inner" >
          <div class="green-card " style="position:relative; margin-left:-340px; background-image: '';">
        <p1 style="font-size:25px; color:#000000;"><center><strong>Placeholder 1</strong></center></p1> 
        <p1 class="details"></p1>
      </div>
        <div class="green-card " style="position:relative; margin-left:-680px; margin-top:-500px; background-image: '';">
        <p1 style="font-size:25px; color:#000000;"><center><strong>Placeholder 1</strong></center></p1> 
        <p1 class="details"></p1>
      </div>
        </div>
        <br>  
      </div>
        </section>
        <section>
        <h1>Abilities</h1>
        <br>
        <p1>Languages (real life)</p1>
        <ul>
          <li>English</li>
          <li>Mandarin Chinese</li>
          <li>Malay (Bahasa Melayu)</li>
        
        </ul>
        <p1>Languages (programming)</p1>
        <dl>
          <dt>Python</dt>
          <dd>I have experience in the following libraries:
          <ul>
            <li><a href="https://github.com/Rapptz/discord.py">Discord.py</a></li>
            <li><a href="https://github.com/pallets/flask">Flask</a></li>
            <li><a href="https://www.sqlite.org">SQLite</a></li>
          </ul>
          </dd>
          <dt>Javascript</dt>
          <dd>
            I really am a beginner in this language. All I know is basic synchronous programming, with some knowledge on:
            <ul>
              <li><a href="https://barbajs.org">BarbaJS</a></li>
              <li><a href="https://expressjs.com">ExpressJS</a></li>
            </ul>
          </dd>
          <dt>HTML and CSS</dt>
          <dd>
            I know most syntax in HTML and CSS. Libraries used:
            <ul>
              <li><a href="https://www.bootstrapcdn.com">Bootstrap</a></li>
              <li>That's it...</li>
            </ul>
            
          </dd>
          
        </dl>
          </section>
      </div>
    
      <div style="margin-top:700px">
    {% include 'footer.html' %}
      
    </div>

    </div>
    


    
    

    <script async src="https://unpkg.com/@barba/core"></script>
   
    <script async src="static/scripts/index.js" defer>
    
      </script>
     <script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js" integrity="sha384-SzzIsV7QsIVbpk86WEy+qc86Qg3q9L0uzQnyvd6Nrhg5EBLtJDo5Wp17FkZTboRt" crossorigin="anonymous"></script>

</body>