

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/index.css" type="text/css">
  <link rel="stylesheet" href="static/navbar.css" type="text/css">
  


</head>
<body onload='navbar_auto_disable()'>

  

  <!-- social media icons by font aesome, align right -->
  <div class="ml-auto" >
    <ul class="nav">
      
      <li class="nav-item active"><a href="https://discord.com/users/695076103768768605" class="fab fa-discord social-icon"></a></li>
      <li class="nav-item active"><a href="https://instagram.com/sebassnoob" class="fa fa-instagram social-icon"></a></li>
    </ul>
  </div>
  
  


  <script src="https://kit.fontawesome.com/7737b837cb.js" crossorigin="anonymous"></script>

</body>