<!DOCTYPE html>

<head>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/index.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="static/scripts/index.js" ></script>
  <title>SebassNoob's profile</title>
  
</head>
<body>
  {% include 'navbar.html' %}


  <div>
    
  
    <div class="container">
      <div class="landing" >
        <h3 class="text-gradient" style="font-size:75px;">Hi there!</h3>
        <br>
        <p1 class="text-glow" style="font-size:25px; white-space:pre;">I'm <span class='text-gradient'>Sebastian Ong</span>, a beginner in web development 
and a terrible student in Secondary 4.</p1>
      </div>
      <!-- dont touch or positioning will break-->

      
      
      <div class="galaxy-card" style="margin-top:250px; margin-left:-50px">
        <p1 class="text-glow" style="font-size:25px; color:#eeee50;"><center><strong>Details</strong></center></p1>    
        <div id="portrait" style="margin-left: 175px; margin-top: 20px">
        
        </div>
        <div>
          <p1 class="text-glow details"><strong>Name: </strong><br>&nbspSebastian Ong</p1>
          <br>
          <p1 class= "text-glow details"><strong>Age: </strong><br>&nbsp16</p1>
          <br>
          <p1 class="text-glow details"><strong>Location:</strong> <br>&nbspClementi, Singapore</p1>
          <br>
          <p1 class="text-glow details"> Email: <span style="color:#eeee10; font-size:16px"><u>sebastian.ong@hotmail.com</u></span></p1>

          <br>
          <button class="btn btn-gradient-border" style="scale:0.75;" id="mailto" onclick="mailTo()">Email Me</button>
        </div>
      </div>

      <div class="green-card" style="margin-top:250px; margin-left:300px">
        <p class= "text-glow">About me</p>
      </div>
      
      <div class="tableOcontents-card" style="margin-top:50px; margin-left:650px">
        <p1 class= "text-glow" style="font-size:25px; color:#eeee50; margin: 7px"><center><strong>Table of contents</strong></center></p1>
        <ul>
          <li><a href="#" class="contents-list">Experiences & Education</a></li>
          <li><a href="#" class="contents-list">Abilities</a></li>
          <li><a href="#" class="contents-list">Examples of Works</a></li>
          <li><a href="#" class="contents-list">Hobbies & Interests</a></li>
          <li><a href="#" class="contents-list">Follow Me!</a></li>
          
        </ul>
       
        
      </div>  
    </div>
      
  
    
    
  </div>
  
  
</body>